img{
	max-width: 50px;
	max-height: 100px;
}
input[type="text"] {
    width: 400px;
}
label {
    /* Other styling.. */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
